Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
  <li><a href="{{ '/design/index' | relative_url }}">Design</a></li>
  <li><a href="{{ '/development/index' | relative_url }}">Development</a></li>
  <li><a href="{{ '/devops/index' | relative_url }}">DevOps</a></li>
  <li><a href="{{ '/support/index' | relative_url }}">Support</a></li>
  <li><a href="{{ '/example-page' | relative_url }}">Example page</a></li>
</ul>
